*{
    /* text-align: center; */
    border: 1px solid black;
}

header, footer{
    /* text-align: center; */
    border: 1px solid black;
}
nav h1{
    margin-top: 20%;
    margin-bottom: 10%;
}
nav{
    display: flex;
    flex-direction: column;
    width: 60%;
    /* text-align: center; */
    align-items: center;
    margin-left: 20%;
}

form{
    width: 100%;
}

header{
    margin-bottom: 10%;
}



/* ----------------------------------------------- */
footer{
    width:100%;
}


footer div{
    width: 100%;
} 
form:nth-last-child(2){
    text-align: center;
}


