* {
  /* text-align: center; */
  border: 1px solid black;
}

header, footer {
  /* text-align: center; */
  border: 1px solid black;
}

nav h1 {
  margin-top: 10%;
  margin-bottom: 10%;
  text-align: center;
}
nav form {
  width: 100%;
}
nav form .coordonnees {
  margin-bottom: 10%;
}
nav form .besoins {
  width: 100%;
}
nav form .besoin div {
  text-align: center;
  width: 100%;
}

/*# sourceMappingURL=FormulaireDeContact.css.map */
