body{
    margin:0;
}
header{
    /* border:2px solid red; */
    min-height:300px;
    position: fixed;
    width: 100%;
    box-sizing : border-box;
    top: 0;
    background-image: url('../images/5056179b42b174f.jpg');
    background-size: cover;
    background-position: center;
}

#main-content{
    margin-top: 300px;
    /* min-height: 1000px; */
    display:flex;
}

nav{
    /* border:2px solid green; */
    min-height:100px;
    width: 300px;
}
nav ul{
    list-style:none;
    margin:0;
    padding:0;
}

nav ul li{
    border:1px solid black;
    padding: 20px;
    text-align: align;
    background-color: darkblue;
}

nav ul li a{
    text-decoration:none;
    font-weight: 900;
    color: white;
}

main{
    /* border:2px solid blue; */
    min-height:100px;
    width: 100%;
}

footer{
    /* border:2px solid purple; */
    min-height:100px;
}

footer .f-top{
    color:white;
    background-color: gray;
    display:flex;
    justify-content: space-around;
}

footer .f-bottom{
    color:white;
    background-color: black;
    text-align:center;
    padding:5px 0;
}