p.fixed{
    /* position avec fixed fonctionne avec top et left ou right */
    /* utiliser pour un menu ou un footer par exemple */
    /* position:fixed; */
    position: relative;
    top: 500px;
    left: 30px ;
    /* right: 40px; */
    width:100px;
    /* on peut defini un block en inline block */
    display: inline-block;
}

.parent{
    position: relative;
    width: 300px;
    height: 300px;
    border:1px solid blue;
    display: inline-block;
}

.enfant{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid red;
    top: 20px;
    left:50px;
    /* on peut faire un calcul pôur centrer par exemple si on connait la taille*/
    /* top:calc(50%-50px);
    left: calc(50%-50px); */
}

.autre{
    /* display: inline-block; */
    position: relative;
    width: 300px;
    height: 300px;
    border:1px solid blue;
}

.papy{
    display: flex;
    flex-direction: reverse;
    justify-content: start;
}