div{
    /* border box ne pas prendre en compte le padding et le border dans la taille */
    /* box-sizing:border-box; */
    border:3px solid blue;
    /* border :3px double blue;
    border :3px dashed blue; */
    width: 50%;
    /* height: 200px; */
    /* taille minimum pouvant etre dépassé */
    min-height: 100px;
    /* taille maximum pouvant etre atteinte */
    /* max-height: 250px; */
    /* marge interieur */
    padding: 20px;
    
    /* Si le contenu est plus grand que le conteneur, on permet de scroller à l'intérieur */
    overflow: scroll;
    /* marge extérieur */
    /* margin: 50px; */

    /* margin-top,right,bottom,left */
    /* margin: 60px 100px 10px 200px; */

    /* margin a deux info Haut/bas - Droite/gauche */
    /* margin: 60px 100px; */

    /* Centrer auto par rapport au conteneur */
    margin:auto;

}
