/* un commentaire */

/*
selecteur {
    propriété: valeur;
    ...
}
 */

 #monID {
            color: chartreuse;
 }
 p {
     color: blueviolet;
     font-size: 24px;
 }
 .blue {
     color: cadetblue;
     font-size: 36px;    
 }
 p, h2 {
        color: darkred;
 }
 
 .list>li{
     color: fuchsia;
 }

 .list>li{
     border: 1px goldenrod;
 }