@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet');
body{
    font-size: 14px;
}


p{
    color: rgb(255,255,0);
    color: #fff00f;
    color:yellow;

    font-size: 14px;
    /* Proportionnel à la police du body 2rem = 2* la police du body */
    font-size: 2rem; 
    /* Proportionnel à la police du parent 2em = 2* la police du parent */
    font-size: 2em;
 
    text-align: center; 
    text-decoration:  italic ;
    font-weight: 100;
    font-family: 'Indie Flower', cursive;  
}