<nb-card>
    <nb-card-body *ngIf="model">
        <img [src]="model.data.results[0].thumbnail | marvelImage : 'landscape_incredible'">
        <p>Nom: {{model.data.results[0].name}}</p>
        <p>Description: {{model.data.results[0].description}}</p>
        <ul>
            <li *ngFor="let c of model.data.results[0].comics.items">
                {{ c.name }}
            </li>
        </ul>
    </nb-card-body>
</nb-card>
