﻿body {
    padding-bottom: 20px;
    min-height : 100vh;
    height : 100%;
    display :flex;
    flex-direction : column
}

header{
    background-color : black;   
    color : white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.MonFooter{
    position : fixed;
    bottom : 0;
    height : 50px;
    background-color : black;
    width : 100%;
    display : flex;
    align-items : center;
    justify-content : center;
    color : white;
}

a{
    color : unset;
}
a:hover{
    color : unset;
}

#logout{
    padding:5px;
    border:1px solid white;
    margin-right:5vw;
    position:absolute;
    right:0;
}


