﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/site.css">

<body>
    <div id="up">
        <div id="divUserTable">
            <table id="userTable" class="table hidden">
                <thead>
                    <tr>
                        <th scope="col">Utilisateur en ligne</th>
                    </tr>
                </thead>
                <tbody id="userTbody">
                </tbody>
            </table>
        </div>
        <div id="record">
            <h4>Enregistrement</h4>
            <div>
                <form id="registerForm">
                    <input required type="text" name="message" id="pseudoForm" placeholder="Entrez votre pseudo">
                    <input type="submit" value="Envoyer" id="registerBtn">
                </form>
            </div>
        </div>
    </div>

    <div id="messagerie">
        <div>
            <table id="table" class="table hidden">
                <thead>
                    <tr>
                        <th scope="col">Heure</th>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Message</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                </tbody>
            </table>
        </div>
        <div id="inputMsg">
            <form action="" id="form">
                <input required type="text" name="message" id="messageForm" placeholder="Entrez votre message">
                <input type="submit" value="Envoyer" id="submitBtn">
            </form>
        </div>
    </div>
</body>



<script src="~/lib/signalr.js" type="text/javascript"></script>
<script>
    let textMessage = document.getElementById('messageForm');
    let submitButton = document.getElementById('submitBtn');
    let table = document.getElementById('table');
    let form = document.getElementById('form');
    let pseudo = document.getElementById('pseudoForm');
    let registerForm = document.getElementById('registerForm');
    let registerBtn = document.getElementById('registerBtn');
    let register = false;

    let userTable = document.getElementById('userTable');




    // ACION SUR LE BOUTON ENVOYER

    submitButton.addEventListener('click', e => {
        event.preventDefault();
        sendMessage();
        form.reset();
    })

    //ACTION SUR LE BOUTON PSEUDO

    registerBtn.addEventListener('click', e => {
        event.preventDefault();
        registerToSignalR(pseudo);
        form.reset();
    })

    //SIGNAL R

    var connection = new signalR.HubConnectionBuilder()
        .configureLogging(signalR.LogLevel.Debug)
        .withUrl("https://localhost:5001/Hubs/TestHub")
        .build();

    // Abo signalR
    connection.on("send", sendMessage);
    connection.on("Recevoir", viewMessage);
    connection.on("alreadyRegistered", alreadyRegistered);
    connection.on("noRegistered", noRegistered);
    connection.on("listeUsers", listeUsers);


   
    function sendMessage() {
        if (connection.connectionStarted) {
            connection.invoke("send", textMessage.value);
        }
    }

    //Creation table
    function viewMessage(message, pseudo) {
        if (connection.connectionStarted) {
            let tr = document.createElement('tr');
            let td1 = document.createElement('td');
            let td2 = document.createElement('td');
            let td3 = document.createElement('td');
            let date = new Date();
            let dateStr;
            dateStr = date.toLocaleString('fr-BE', {
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
            });
            dateStr += "   |   ";
            dateStr += date.toLocaleString('fr-BE', {
                weekday: 'short',
                month: 'short',
                day: '2-digit',
                year: 'numeric'
            });
            let tbody = document.getElementById('tbody');
            td1.innerText = dateStr;
            td2.innerText = pseudo;
            td3.innerText = message;
            tr.appendChild(td1);
            tr.appendChild(td2);
            tr.appendChild(td3);
            tbody.appendChild(tr);
        }
    }

    function registerToSignalR(pseudo) {
        if (connection.connectionStarted) {
            connection.invoke("register", pseudo.value);
        }
    }

    //Msg d'alerte
    function alreadyRegistered(message) {
        window.alert(message);
    }
    function noRegistered(message) {
        window.alert(message);
    }

    //affichage liste user
    function listeUsers(liste) {
        $("#userTbody").empty();
        for (let i = 0; i < liste.length; i++) {
            let tr = document.createElement('tr');
            let td = document.createElement('td');
            let UserTbody = document.getElementById('userTbody');
            td.innerText = liste[i];
            tr.appendChild(td);
            UserTbody.appendChild(tr);
        }
    }

    //envoie disconnected 
    //$(window).on("beforeunload", function() { 
    //    this.connection.invoke("disconnected")
    //})

    connection.start()
        .then(function () {
            console.log("YEAAAAAAAAAAHHHHHHHH");
        })
        .catch(function (error) { console.log("error!!!"); })
</script>