<nb-card>
    <nb-list>
        <nb-list-item *ngFor="let c of model?.data.results" [routerLink]="['/characters-details', c.id]">
            <img [src]="c.thumbnail.path + '/standard_small.' + c.thumbnail.extension">
            <p>{{c.name}}</p>
        </nb-list-item>
    </nb-list>
</nb-card>
