﻿@using BuildYourTeam.ASP.Models;

@model IEnumerable<ActivityModel>

@{
    ViewBag.Title = "AddActivity";
}

<h2>Activités</h2>

<ul id="list">
    @foreach (var item in Model)
    {
        <li>@item.Name</li>
    }
</ul>


<form>
    <input type="text" name="Name">
    <textarea name="Description"></textarea>
    <button id="btn_add">Ajouter</button>
</form>
@*{
        <p>
            @item.
            @item.Date.ToShortDateString()
            <a class="delete" href="/Day/Delete/@item.Id"><span class="glyphicon glyphicon-trash text-danger"></span></a>
            <a href="/Day/Edit/@item.Id"><span class="glyphicon glyphicon-edit"></span></a>
        </p>
    }*@

@section scripts {
<script>
    //init();

    //        console.log(42)

    //function init() {
    //    $.get("http://localhost:62866/api/Activity/", data => {

    //        console.log(data)
    //        $('#list').empty();
    //        for (let item of data) {
    //            $('#list').append("<li>" + item.name + '</li>')
    //        }
    //    });
    //}

    $("#btn_add").on('click', e => {
        e.preventDefault();
        let data = getFormData($('form'));

        console.log(data)
        $.ajax({
            url: "http://localhost:62866/api/Activity/",
            data: JSON.stringify(data),
            method: "POST",
            contentType: 'application/json',
        })
        .then(() => {
            //init();
            $("form")[0].reset();
            window.location.reload();
        });
    });

    function getFormData($form){
    var unindexed_array = $form.serializeArray();
    var indexed_array = {};

    $.map(unindexed_array, function(n, i){
        indexed_array[n['name']] = n['value'];
    });

    return indexed_array;
}
</script>
}
