﻿@model Pizzeria.ASP.Models.OrderModel
@{
    ViewBag.Title = "Add";
}

<h2>Nouvelle commande</h2>

<form action="#" method="post">
    @*<input class="form-control" type="text" name="Id" value="@(Model?.Id)" />*@
    <input class="form-control" type="text" name="Reference" placeholder="Nom" value="@(Model?.Reference)" />
    @*<p class="red">@Html.ValidationMessageFor(m => m.Name)</p>*@
    <input class="form-control" type="date" name="Date" placeholder="Date" value="@(Model?.Date)" />
    <input class="form-control" type="text" name="Status" placeholder="Status" value="@(Model?.Status)" />
    <button class="btn btn-info">Envoyer</button>
</form>

