﻿@model IEnumerable<Pizzeria.ASP.Models.OrderModel>
@{
    ViewBag.Title = "Liste Des Commandes";
}

<a href="/Order/Add">Ajouter une nouvelle commande</a>
<h2>Liste des commandes</h2>
@foreach (var item in Model)
{
    <p>
        <a href="/OrderLine/Add">@item.Reference</a>
        <a class="delete" href="/Order/Delete/@item.Id"><span class="glyphicon glyphicon-trash text-danger"></span></a>
    </p>

}

@section scripts {
    <script>
        //let items = document.getElementByClassName("delete");
        //for (let item of items) {
        //    item.addeventLister("click", e => {
        //        e.preventDefault();
        //    })
        //}

        $(() => {
            $(".delete").on("click", e => {
                let reponse = confirm("êtes vous sûr de vouloir supprimer cette commande?");
                if (!reponse) {
                    e.preventDefault();
                }
            });
        });
    </script>
    }