<nb-card>
    <nb-card-body>
        <form [formGroup]="fg" (ngSubmit)="submit()">
            <div>
                <input formControlName="Name" nbInput>
                <div *ngIf="fg.get('Name').touched || fg.get('Name').dirty">
                    <p *ngIf="fg.get('Name').hasError('required')">Le champs est requis</p>
                    <p *ngIf="fg.get('Name').hasError('maxlength')">Le champs est trop long</p>
                </div>
            </div>
            <div>
                <textarea formControlName="Description" nbInput></textarea>
            </div>
            <div>
                <button nbButton [disabled]="fg.invalid">ENVOYER</button>
            </div>
        </form>
    </nb-card-body>
</nb-card>

