﻿@model IEnumerable<BuildYourTeam.ASP.Models.DayModel>
@{
    ViewBag.Title = "Index";
}

@*<a href="/Person/Index">Ajouter un participant</a>
    <a href="/Person/Index">Ajouter un participant</a>
    <a href="/Teams/Index">Ajouter une equipe</a>*@
<a href="/Day/AddEvent">Ajouter un Evenement</a>
<a href="/Activity/AddActivity">Ajouter une Activité</a>

@foreach (var item in Model)
{
    <p>
        @item.CustomerName
        @item.Date.ToShortDateString()
        <a class="delete" href="/Day/Delete/@item.Id"><span class="glyphicon glyphicon-trash text-danger"></span></a>
        <a href="/Day/Edit/@item.Id"><span class="glyphicon glyphicon-edit"></span></a>
    </p>
}



@section scripts {
    <script>
        $(() => {
            $(".delete").on("click", e => {
                let reponse = confirm("êtes vous sûr de vouloir supprimer cet évenement?");
                if (!reponse) {
                    e.preventDefault();
                }
            });
        });
    </script>
}