<nb-layout>

  <nb-layout-header fixed>
  <!-- Insert header here -->
  </nb-layout-header>

  <nb-sidebar>
    <nb-menu [items]="links"></nb-menu>
  </nb-sidebar>

  
  <nb-layout-column>

    <!-- <p>Je suis ici dans app</p> -->
    
    <router-outlet></router-outlet>
    <!-- <p>Ici vous êtes toujours dans app</p> -->
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
