<p>Vous êtes ici dans nav</p>
<ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <ul>
        <li><a routerLink="/demo/demo1">Demo1 - Binding</a></li>
        <li><a routerLink="/demo/demo2">Demo2 - Event</a></li>
    </ul>
</ul>