<!-- <p>{{ nbr }}</p> -->
<nb-card style="width: 110px;">
    <nb-card-body>
        {{ nbr | toTime }}
    </nb-card-body>
  </nb-card>
<button nbButton outline status='primary' [disabled]="this.on == true" (click)="start()">Start</button>
<button nbButton outline status='danger' [disabled]="this.on == false"(click)="stop()">Stop</button>
<button nbButton outline status='warning' [disabled]="this.on == true"(click)="reset()">Reset</button>
