﻿@using BuildYourTeam.ASP.Models
@model DayModel
@{
    ViewBag.Title = "Créer un évenement";
}

<h2>Créer un évenement</h2>

<form action="#" method="post">
    @*<input type="hidden" class="form-control"  value="@(Model?.Id)" name="Id" />*@
    <input class="form-control" type="text" name="CustomerName" placeholder="Nom" value="@(Model?.CustomerName)" />
    <input class="form-control" type="date" name="Date" placeholder="Date" value="@(Model?.Date)" />
    @*@foreach (var i in Model.listActivity)
    {
        <input name="AreChecked" value="@i" type="checkbox"/> @(i.Name);
    }*@
    <button>CREER</button>
</form>


