﻿@model BuildYourTeam.ASP.Models.DayControllerModel.DayWactivityListModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<p>Ajoute une équipe à l'évenement @Model.CustomerName </p>

<ul>
    @foreach (var item in Model?.listTeams)
    {
        <li>@item.Name <a href="/Teams/Delete/@item.Id"><span class="glyphicon glyphicon-trash text-danger"></span></a> <a href="/Teams/Edit/@item.Id"><span class="glyphicon glyphicon-edit"></span></a> </li>
    }
</ul>

<form action="#" method="post">
    <input type="text" name="NewTeam.Name" placeholder="Nom" value="@Model.NewTeam.Name" />
    <input type="text" name="NewTeam.Color" placeholder="Couleur" value="@Model.NewTeam.Color" />
    <input type="text" name="NewTeam.Slogan" placeholder="Slogan" value="@Model.NewTeam.Slogan" />
    <button>Ajouter une nouvelle équipe</button>
</form>


@foreach (var i in Model.listActivity)
{
    int test = Model.DayActivityList.FirstOrDefault(x => x.IdActivity = i.Id);

    <input type="checkbox" checked="@if" />@(i.Name)
}


@section scripts {
    <script>
        $(() => {
            $(".isExist").on("click", e => {
                let reponse = confirm("êtes vous sûr de vouloir supprimer cet évenement?");
                if (!reponse) {
                    e.preventDefault();
                }
            });
        });

        //let list = [];
        //document.addEventListener("DOMContentLoaded", e => {
        //    for (var i = 0; i < Model.ListActivity.length; i++) {
        //        for (var y = 0; y < Model.DayActivityList.length; y++) {
        //            if (Model.ListActivity[i].Id = Model.DayActivityList[y].IdActivity) {
        //                list.push(Model.DayActivityList[y].IdActivity);
        //                console.log(this.list);
        //            }
        //        }
        //    }
        //}

    </script>
}