﻿<!DOCTYPE html>
<html>
<head>
    <meta name="charset" content="UTF-8"/>
    <title>@RenderSection("title")</title>
    <link rel="stylesheet" href="~/Content/Site.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>ACCEUIL</li>
                <li>PRODUIT</li>
                <li>CONTACT</li>
            </ul>
    </header>
    </nav>
    @RenderBody()
    <footer>
        <ul>
            <li>Germaine</li>
            <li>MAIL<link href="mailto:Germaine@testr.nl"></li>
            <li>Rue du centre</li>
        </ul>
    </footer>
</body>
</html>