*{
    /* text-align: center; */
    border: 1px solid black;
}

header, footer{
    /* text-align: center; */
    border: 1px solid black;
}

nav { 

	h1 { 
        margin-top: 10%;
        margin-bottom: 10%;
        text-align: center;
	}

	form { 
        width: 100%;
		.coordonnees {
                margin-bottom: 10%;
			h2 { 

			}

			div { 

				input { 

				}
			}
		}

		.besoins { 
            width:100%;
			h2 { 
			}
		}

		.besoin div { 
            text-align: center;
            width: 100%;
			input {                 
			}
		}
	}
}