*{
    border: 1px solid black;
    margin: 0;
    padding: 0;
}

header{
    height: 300px;
    background-image: url("../../../demo-bootstrap/assets/images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    align-content: center;
    background-position: center center;
}

  


