﻿body{
    width:100%;
    margin:auto;
    
}

body div {
    margin: 10px;
    /*border: 5px solid red;*/
}

#up{
    display:flex;
    justify-content:space-evenly;
}

#record{
    margin:auto;
    display:flex;
    justify-content:center;
}

#messagerie {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-left:30%;
}
#messageForm{
    width:60%;   
}

#inputMsg{
    display:flex;
    justify-content:center;
    width:100%;
}

#divUserTable {
    margin: auto;
    display: flex;
    justify-content: center;
}

#divUserTable{
    margin-right:20%;
    width:15%;
}
