body{
    margin:0;
}
header{
    min-height:50px;
    position: fixed;
    width: 100%;
    box-sizing : border-box;
    top: 0;
    /* background-image: url('../images/pil.jpg'); */
    background-image: url('../../../../Image_/insertPDF.jpg');
    background-size: contain;
    background-position: center;
}
#main-content{
    margin-top: 50px;
    display:flex;
}
main{
    min-height:100px;
    width: 100%;   
    text-align: center;
}
footer{
    min-height:50px;
    position: fixed;
    width: 100%;
    background-image: url('../../../../Image_/insertPDF.jpg');
    background-size: cover;
    background-position: center;
}

