<nb-card style="width: fit-content;" *ngIf="visible">
    <img width="80" height="80" src='{{tabPokemon?.sprites.front_default}}'/>
</nb-card>
<nb-card>
    <nb-card-body>
        <nb-list-item *ngFor="let item of tab;">
            <p (click)="clickOnPokemon(item.url)">{{item.name}}</p>
        </nb-list-item>
    </nb-card-body>
</nb-card>

