﻿@model Pizzeria.ASP.Models.CategoryModel 
@{
    ViewBag.Title = "Creer une nouvelle Catégorie";
}

<h2>Creer une nouvelle Catégorie</h2>
<form action="#" method="post">
    <input class="form-control" type="text" name="Name" value="@(Model?.Name)" />
    <p class="red">@Html.ValidationMessageFor(m => m.Name)</p>
    <button class="btn btn-info">Envoyer</button>
</form>

