<nb-card>
    <nb-card-header>
        <nb-icon (click)="toggleVisible()" [icon]="visible ? 'arrow-down' : 'arrow-up'"></nb-icon>
    <nb-card-body *ngIf="visible">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi assumenda quidem eius nisi voluptatum exercitationem mollitia ullam iure! Eos quasi dolores voluptatem, corporis suscipit saepe magni adipisci minima sit quaerat.</p>
    </nb-card-body>
</nb-card-header>
</nb-card>

<nb-card>
    <nb-card-header>*ngFor</nb-card-header>
    <nb-card-body>
        <ul>
            <li *ngFor="let item of items; let i = index; let pair = even">
                <p [ngClass]="{'red':pair,'blue':!pair}">{{i}} {{item}}</p>
            </li>
        </ul>
    </nb-card-body>
</nb-card>
