.element1{
    background-color:red;
    width: 20%;
    font-weight: bold;
}
.element2{
    background-color: green;
    width: 20%;
    font-weight: bold;
}
.element3{
    background-color : blue;
    width: 20%;
    font-weight: bold;
}

#conteneur{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: flex-end;
    height: 350px;
}

#cont{
    display : flex;
}
.el1{
    margin:auto;
}