@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
p{
    color:blue;
    font-size: 18px;
    font-family: "Indie Flower";
}

.salutation{
    color: red;
    font-size: 30px;
}

ul{
    color : green;
}

h2+p{
    text-align: center;
}
body{
    background-image: url('../../Image_/interfaces2.png');
    background-repeat: no-repeat;
    background-position: top right;
}
a{
    border: 1px pink solid;
}
h2{
    border: 5px yellow solid;
    width: 30%;
    max-width: 250PX;
    box-shadow: 6px 6px 0px black;
}
