﻿@model Pizzeria.ASP.Models.ProductModel
@{
    ViewBag.Title = "Creer un nouveau produit";
}

<h2>Creer un nouveau produit</h2>
<div>
    <form action="#" method="post" enctype="multipart/form-data">
        @*<input class="form-control" type="text" name="Id" value="@(Model?.Id)" />*@
        <input class="form-control" type="text" name="Name" placeholder="Nom" value="@(Model?.Name)" />
        <p class="red">@Html.ValidationMessage("Name")</p>
        <textarea class="form-control" type="text" name="Description" placeholder="Description">
           @(Model?.Description)
        </textarea>
        <p class="red">@Html.ValidationMessage("Description")</p>
        <input type="file" name="PostedFile" onchange='openFile(event)' />
        <img id='output'/>
        <input class="form-control" type="text" name="Price" placeholder="prix" value="@(Model?.Price)" />
        <p class="red">@Html.ValidationMessage("Price")</p>
        <select name="CategoryId">
            @foreach (var item in Model.allCategory)
            {
                <option value="@item.Id">@item.Name</option>
            }
        </select>

        <button class="btn btn-info">Envoyer</button>
    </form>
</div>
<a href="/Category/Index">Liste catégorie</a>


@section scripts {
    <script>
        var openFile = function (event) {
            var input = event.target;

            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                var output = document.getElementById('output');
                output.src = dataURL;
                output.style = "height:300px; width:auto"; 
            };
            reader.readAsDataURL(input.files[0]);
        };
    </script>
}