﻿@model Pizzeria.ASP.Models.ProductModel
@{
    ViewBag.Title = "Modifier un produit";
}

<h2>Modifier un produit</h2>
<form action="#" method="post" enctype="multipart/form-data">
    @*<input class="form-control" type="text" name="Id" value="@(Model?.Id)" />*@
    <input class="form-control" type="text" name="Name" placeholder="Nom" value="@(Model?.Name)" />
    <p class="red">@Html.ValidationMessage("Name")</p>
    <textarea class="form-control" type="text" name="Description" placeholder="Description">
           @(Model?.Description)
    </textarea>
    <p class="red">@Html.ValidationMessage("Description")</p>

    <input type="file" name="PostedFile" onchange='openFile(event)' />
    <img id='output' src="@Model.Image" style="height:300px; width:auto" />

    <input class="form-control" type="text" name="Price" placeholder="prix" value="@(Model?.Price)" />
    <p class="red">@Html.ValidationMessage("Price")</p>
    <select name="CategoryId">
        @foreach (var item in Model.allCategory)
        {
            if (item.Id == Model.CategoryId)
            {
                <option selected value="@item.Id">@item.Name</option>
            }
            else
            {
                <option value="@item.Id">@item.Name</option>
            }
        }
    </select>

    @*Avec une ternaire*@

    @*<select name="CategoryId">
        @foreach (var item in Model.allCategory)
        {
     
            <option @(item.Id == Model.CategoryId ? "selected" : "") 
                value="@item.Id">@item.Name></option>      
        }
    </select>*@

    @*// Conserver la valeur de image entre le get et le post*@
    <input type="hidden" name="Image" value="@Model.Image" />
    <button class="btn btn-info">Envoyer</button>
</form>
<a href="/Category/Index">Liste catégorie</a>


@section scripts {
    <script>
        var openFile = function (event) {
            var input = event.target;

            var reader = new FileReader();
            reader.onload = function () {
                var dataURL = reader.result;
                var output = document.getElementById('output');
                output.src = dataURL;
                output.style = "height:300px; width:auto";
            };
            reader.readAsDataURL(input.files[0]);
        };
    </script>
}