﻿@model IEnumerable<Pizzeria.ASP.Models.ProductModel>
@{
    ViewBag.Title = "Liste Des produits";
}

<a href="/Product/Add">Ajouter un nouveau produit</a>
<h2>Liste des produits</h2>
@foreach (var item in Model)
{
<p>
    @if (@item.Image != null)
    {<a href="" onclick="window.open('@item.Image', 'name','width=600,height=400')"><img src="@item.Image" style="height:20px; width:20px" ; onclick="" /></a>;
    }
    @item.Name
    <a class="delete" href="/Product/Delete/@item.Id"><span class="glyphicon glyphicon-trash text-danger"></span></a>
    <a href="/Product/Edit/@item.Id"><span class="glyphicon glyphicon-edit"></span></a>
</p>

}

@section scripts {
    <script>
        $(() => {
            $(".delete").on("click", e => {
                let reponse = confirm("êtes vous sûr de vouloir supprimer ce produit?");
                if (!reponse) {
                    e.preventDefault();
                }
            });
        });
    </script>
}