
*{
    margin: 0;
    /* border: solid green 1px; */
}
body{
    background-color: rgb(189, 87, 61);
    /* box-sizing: border-box; */
}
header form {
    border: 2px solid darkred;
    padding: 20px;
    display: flex;
    box-shadow: 5px 5px 0 0 darkred;
    justify-content: space-around;
    width: 50%;
    overflow: auto;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 100px;
    align-items: center;
}


/* -------------------------------------------------------------- */

main{
    display: flex;
    justify-content: center;
    width: 100%;    
}
main div{
    display: flex;
    width: 80%;
    height: 300px; 
}


#pictureContainer{
    border: darkred 5px solid;
    box-shadow: 5px 5px 0 0 darkred;
    width: 40%;
}
#picture{
    width: 100%;
}

#table{
    display: block;
    position: fixed;
    overflow-y: auto;
    border: darkred 1px solid;
    box-shadow: 5px 5px 0 0 darkred;
    left:5%;
    max-height: 32%;
    width: 10%;
    font-size: 0.8em;
    text-align: center;
}

main button{
    position: relative;
    height: 10%;
    box-shadow: 6px 6px 0px darkred;
    top: 50%;
}
main button:last-of-type{
    margin-left: 1%;
    box-shadow: 5px 5px 0 0 darkred;
}
main button:first-of-type{
    left : 19.5%;
    box-shadow: -5px 5px 0 0 darkred;


}

#pseudo{
    position: relative;
    left: 25%; 
    top: 70%;      
    height: 20%;
    width: 20%;
    font-weight: bold;
    font-size: 2em;
    /* border: green 1px solid; */
    z-index: 1;
    color: darkred;
    padding: 0;
    margin: 0em;
}



.hidden{
    opacity:0;
}


/* ----------------------------------------- */

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    background-color: aliceblue;
    height:200px;
    margin:auto;
    position: fixed;
    width: 100%;
    /* position: absolute; */
    background-color: rgb(189, 87, 61);
    border-top: 5px darkred solid;   
}
footer div{
    align-items: center;
    align-self: center;
}
footer div>*{
    border: 1px solid darkred;
    box-shadow: -5px 5px 0 0 darkred;
}

#flush{
    margin-top: 40px;
    box-shadow: 5px 5px 0 0 darkred;
}


