
<nb-card>
    <p>{{film.data.results[0].name}}</p>
    <img style="width: 50px; height: 50px;" [src]="film.data.results[0].thumbnail.path |imgMarvel" />
</nb-card>

<nb-card>
    <div style="display: flex;">
    <nb-card style="width: 30%;">
        <nb-list>
            <nb-list-item *ngFor="let f of film.data.results[0].comics.items">
                <p (click)="showDetails(f.resourceURI)">{{f.name}}</p>
            </nb-list-item>
        </nb-list>
    </nb-card>
    <nb-card style="width: 70%;">
        <app-film-details [film]="selectedFilm"> </app-film-details>
    </nb-card>
</div>
</nb-card>
