/* p.fixed {
    position: fixed;
    top: 500px;
    right: 30px;
    width: 100px;
} */

.parent {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid blue;
    /* display: inline-block; */
}

.autre {
    width: 300px;
    height: 300px;
    border: 1px solid green;
    /* display: inline-block; */
}

.papy {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

/* .enfant {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid crimson;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    background-color: crimson;
    z-index: -1;
} */

