div {
    /* ne pas prendre en compte le padding et la border dans la taille */
    box-sizing: border-box;
    border: 3px solid #FF0000;
    /* width: 30%; */
    width: 600px;
    min-height: 500px;
    /* marges interieures */
    padding: 20px;
    /* overflow: scroll; */
    /* marges ext */
    /* margin: 60px 100px 10px 200px; */
    margin: 30px auto;
    
}