<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Exmple d'emmet</h1>
    table>(thead>tr>th*3)+body>tr*5>td*3
</body>
</html>