<nb-card>
        <nb-card-body *ngIf="model">
            <img [src]="model.data.results[0].thumbnail.path + '/standard_small.' + model.data.results[0].thumbnail.extension">
        </nb-card-body>
</nb-card>