﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
@*<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>*@
<body>
    <header>
        @*@Html.ActionLink("Evenements", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
    </header>

    <div class="container body-content">
        @RenderBody()   
    </div>
    <footer class="MonFooter">
        <p>&copy; @DateTime.Now.Year - BuildYourTeam</p>
        <a href="/" id="logout">LogOut</a>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    @RenderSection("scripts", required: false)
</body>
</html>
