<div style="display: flex">
    <nb-card>
        <nb-list>
            <nb-list-item *ngFor="let c of model">
                <p>{{c.Name }}</p>
                <!-- <Button nbButton (click)='delete(c.Id)' >DEL</Button> -->
                <nb-icon (click)="delete(c.Id)" icon='trash' status="danger" style="font-size: 12px;"></nb-icon>               
            </nb-list-item>
        </nb-list>
    </nb-card>
    <div>
        <app-category-add></app-category-add>
    </div>
</div>
