<nb-list>
    <nb-list-item *ngFor="let item of list">
        <p [ngClass]="{'red' : item.expirationDate | expired}"> {{item.name}}</p>
        <p> {{item.price}}</p>
        <img [src]="item.image | imagesFolder"/>
    </nb-list-item>
</nb-list>