<p>marvel works!</p>
<div style="display: flex;">
    <div style="width: 50%;">
        <nb-card accent="danger">
            <nb-list>
                <nb-list-item *ngFor="let f of films.data.results">
                    <div>
                        <p>{{f.name}}</p>
                        <img [src]="f.thumbnail.path |imgMarvel" />
                        <a [routerLink]="['/exercices/marvelDetails', f.id]"
                            >lien vers un autre composant</a>
                    </div>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>