﻿@model BuildYourTeam.ASP.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form action="#" method="post">
    <input type="text" name="Login" placeholder="Login" value="@(Model?.Login)" />
    <input type="password" placeholder="Password" name="PlainPassword" />
    <button>LOG</button>
</form>