<nb-layout>

  <nb-layout-header fixed>
    <h4>Correction</h4>
  </nb-layout-header>

    <nb-sidebar>
        <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
      <p>test</p>
  </nb-layout-footer>

</nb-layout>
