header { 

	img { 

	}

	ul.liens { 

		a { 

			li { 

			}
		}
	}
}

nav { 

	div { 

		a { 

			img { 

			}
		}

		b { 

		}
	}
}

article { 

	h1 { 

	}

	p { 

	}
}

div.piedMouvant { 

	div { 

		ul { 

			a { 

				li { 

				}
			}
		}
	}
}

footer { 

	div { 

		ul.liensSociaux { 

			li { 

				a { 

					i { 

					}
				}
			}
		}
	}

	p { 

	}
}

p#mail { 

	i { 

	}
}