/* *{
    font-family: 'Indie Flower', serif;
} */
ul{
    list-style:none;
    padding:0;
}
body{
    margin:0;
}

/* LIENS-------------------------------- */

header a{
    font-family: 'Indie Flower', serif;
    text-decoration : none;
    color:#302f2f;
    position: relative;
}
a:visited{
    text-decoration : none;
    color:#302f2f;
}
header a:hover{
    color:orange;
    font-size: 1.05em;
    /* left: 0; */
}
header a:hover::after{
    left:0;
    border-color: orange;
    width: 100%;
    transition: all linear 0.5s;
}

.piedMouvant a{
    text-decoration : none;
    color:white;
}

/* --------------------------------------------- */


/* PARTIE HEADER-------------------------------- */
header{
    width: 100%;
    display: flex;
    position: fixed;
    height: 90px;
    top:0;
    background-color: white;
    justify-content: center;
    font-weight: bold; 
    z-index: 3; 
    font-size: 1.2em;
    
}
header img{
    height: 100%;
    width: auto;
}

.liens{
    padding-top: 20px;
    width: 50%;
    text-align: right;
    display: flex;
    justify-content: space-around;
    /* overflow:hidden */
} 
header a::after{
    content:'';
    width: 0;
    left:50%;
    position: absolute;
    border-bottom: 2px orange solid;
}
header i{
    margin-right: 6px;
    top:0;
    align-items: center;
    width: 10px;
    height: 10px;
    /* border: 1px black solid; */
}

#EnCours{
    color:orange;
    font-size: 1.05em;
    border-bottom: 2px orange solid;
    /* left: 0; */
}
/* --------------------------------------------- */



/* NAV ------------------------------------------ */
nav{
    display:flex;
    margin-top:100px;
    flex-wrap: wrap;   
}
nav img {
	width: 100%;
    height: 100%;
    /* opacity: 1; */
}
nav div:hover b{
    transition: linear 0.5s;
    height: 100%;
    /* top: -100%; */
    top: 0;
}
nav div b{
    height:20%;
    opacity: 0.5;
    position:absolute;
    text-align: center; 
    left:0;
    /* top: -10%; */
    top:80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translateY(100%); */
    z-index:2;
    font-size:250%;
    color:white;
    width: 100%;
    background-color: black ;
}
nav div b text{
    color: white;
}
nav div {
    position:relative; 
    width: 25%;
    padding-top: 25%
}
nav img{
    position:absolute;
    z-index:1; 
    top: 0; 
    width: 100%;
    
    background-size: 25%;  
}

/* --------------------------------------------- */


/* ARTICLE ------------------------------------- */
article h1{
    color:#302f2f;
    font-family: 'Indie Flower', serif;
    margin: 25px;
    text-align : center;
    font-size: 3em;
    margin-top: 60px;
    
}
article p{
    color:#302f2f;
    font-family: 'Indie Flower', serif;
    text-align:center;    
    width: 60%;
    margin:auto;
    height: 200px;
    font-weight: bold;
    font-size: 1.2em;
}
/* --------------------------------------------- */



/* DIV ----------------------------------------- */
#mojo{
    transform: scale(0.8);
}
.piedMouvant{
    display : flex;
    justify-content: center; 
    /* align-items: center; */
    margin:0;
    height: 300px;
    /* width: auto; */
    background-color: #302f2f;
    font-weight: bold;
    color: white; 
    padding-bottom: 5px;   
}
.piedMouvant div:nth-child(2){
    width : 20%;
    display: flex;
    height: 150px;
    flex-direction: column;
    align-items: center;
    color: black;
    /* margin-right: 90px; */
}
.piedMouvant div:first-child{
    /* border-right: 2px black solid; */
    /* height: 250px; */
    padding:0;
    align-items: center;
    margin-top: 30px;
    width : 13%;
    padding-left: 20px;

}
.piedMouvant div:last-child{
    margin-top: 30px;
    /* height: 250px; */
    padding:0;
    align-items: center;
    width : 12%;
    padding-left: 20px;
}
.piedMouvant ul{
    padding:0;
}
.piedMouvant div:first-child ul{
    border-right: 2px black solid;
}
.piedMouvant div:last-child ul{
    border-left: 2px black solid;
    padding-left: 25px;
}
/* --------------------------------------------- */



/* FOOTER -------------------------------------- */
.liensSociaux{
    transform: scale(250%);
    display: flex;
    align-items: center;
	height: 5px; 
} 
.liensSociaux li{
    margin-right: 5px;
    color: #302f2f;
}
footer div ul li a i:hover{
    animation-name: monAnim;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    color: #302f2f;
}
footer a{
    text-decoration : none;
    color : #302f2f;
}
footer{
    padding: 0;
    margin: 0;
    display : flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;    
    height: 100px;
    width: 100%;
    bottom: 0;
    background-color: white;
    padding-top: 15px;   
    margin-top: 0;
    z-index: 3;
    color:#302f2f;
}
#mail{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    width: 60px;
    position:fixed;
    bottom : 50px;
    right :40px;
    z-index: 4;
    color: white;
    background-color: orange;
    border-radius: 80px;
}

#mail i{
    color:#302f2f;
    transform: scale(200%);
}

/* --------------------------------------------- */

/* ANIMATION */

@keyframes monAnim{
    0%{       
    }
    25%{
        transform: rotate(-45deg);
    }
    50%{
        transform: rotate(45deg);
    }
    75%{
        transform: scale(1);
        transform: rotate(45deg);
        color: #302f2f;
    }
    100%{
        transform: rotate(-45deg);
        color: orange;
        transform: scale(1.2);
    }
}