﻿@model Pizzeria.ASP.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<form action="#" method="post">
    <input type="text" name="LastName" placeholder="Lastname" value="@(Model?.LastName)" />
    <input type="text" name="FirstName" placeholder="Firstname" value="@(Model?.FirstName)" />
    <input type="email" name="Email" placeholder="Email"  value="@(Model?.LastName)" />
    <input type="password" placeholder="Password" name="PlainPassword"/>
    <input type="password" placeholder="Repeat Password"  name="ConfirmPassword"/>
    <button>S'ENREGISTRER</button>
</form>