﻿@model BuildYourTeam.ASP.Models.TeamsModel
@{
    ViewBag.Title = "Edit";
}


<p>Ajouter un joueur à l'équipe @Model.Name </p>

<ul>
    @foreach (var item in Model?.ListPlayers)
    {
        <li>@item.FirstName @item.LastName <a class="delete" href="/Person/Delete/@item.I"><span class="glyphicon glyphicon-trash text-danger"></span></a></li>
    }
</ul>

<form action="#" method="post">
    <input type="text" name="NewPlayer.LastName" value="@Model.NewPlayer.LastName" />
    <input type="text" name="NewPlayer.FirstName" value="@Model.NewPlayer.FirstName" />
    <button>Ajouter un nouveau joueur</button>
</form>


@section scripts {
    <script>
        $(() => {
            $(".delete").on("click", e => {
                let reponse = confirm("êtes vous sûr de vouloir supprimer ce participant?");
                if (!reponse) {
                    e.preventDefault();
                }
            });
        });
    </script>
}