﻿@model BuildYourTeam.ASP.Models.TeamsModel
@{
    ViewBag.Title = "Ajouter une nouvelle équipe";
}

<h2>Ajouter une nouvelle équipe</h2>

<form action="#" method="post">
    <input class="form-control" type="text" name="Name" placeholder="Nom" value="@(Model?.Name)" />
    <input class="form-control" type="text" name="Color" placeholder="Couleur" value="@(Model?.Color)" />
    <textarea class="form-control" type="text" name="Slogan" placeholder="Slogan">
           @(Model?.Slogan)
    </textarea>
    <button>CREER</button>
</form>

