﻿@model SecurityForumEXO.Models.SubjectModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@foreach (var item in Model.listReply)
{
    <p>
        @item.postedDate
        @item.author
        @item.reply
    </p>
}


<form action="#" method="post">
    <input type="hidden" name="idSubject" value="@ViewBag.idPage" />
    <input type="text" name="author"/>
    <textarea class="form-control" type="text" name="reply" placeholder="reply">
    </textarea>
    <button>submit</button>
</form>

