﻿@model IEnumerable<SecurityForumEXO.Models.SubjectModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
<p>
    @item.name <a href="/Forum/Edit/@item.id"><span class="glyphicon glyphicon-edit"></span></a>
</p>
}

