<div style="display: flex;">
    <div style="width: 50%; height: 450px; overflow: scroll;">
        <nb-card accent="danger">
            <nb-list>
                <nb-list-item *ngFor="let f of films">
                    <div>
                        <p (click)="getDetails(f)">{{f.title}}</p>
                        <p>{{f.director}}</p>
                        <a [routerLink]="['/demo/demo6-details', f.id]"
                            >lien vers un autre composant</a>
                    </div>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
    <div style="width: 50%;">
        <app-details [film]="selectedFilm"></app-details>
    </div>
</div>
