﻿@model Client.Models.User

<h1>@Model.name</h1>
<form id="SignInForm" asp-controller="Login" asp-action="Index" method="POST">

    <div class="form-group">
        <label for="exampleInputEmail1">Login</label>
        <input type="text" asp-for="login" value="Evengyl" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" asp-for="password" value="test1234" class="form-control" id="exampleInputPassword1" aria-describedby="passwordHelp">
    </div>

    <button type="submit" class="btn btn-primary">Envoyer</button>
</form>


<script>
    $("#SignInForm").validate({
        rules: {
            "login": {
                required: true,
                minlength: 3,
                maxlength: 100
            },

            "password": {
                required: true,
                minlength: 3,
                maxlength: 20
            }
        },
        messages: {
            "login": {
                required: "Login Obligatoire",
                minlength: "Le Login ne peux pas contenir moins de 5 caractère",
                maxlength: "Le Login ne peux pas contenir plus de 100 caractères"
            },
            "password": {
                required: "Mot de passe obligatoire",
                minlength: "Le mot de passe ne dois pas contenir moins de 6 caractères",
                maxlength: "Le mot de passe ne dois pas dépasser 20 caractères"
            }
        }
    });

</script>