<nb-card>
    <nb-card-header>CheckList</nb-card-header>  
    <input nbInput [(ngModel)]="maVariable"/>
    <button nbButton [disabled]="!maVariable?.trim()" (click)="onClick()">Click me !</button>
</nb-card>

<nb-card>
    <nb-card-body>
        <nb-list-item *ngFor="let item of items;">
            <p>{{item.quantity}}</p>
            <p [ngClass]="{'isChecked' : item.isChecked == true}" (click)="clickOnName(item)"> {{item.name}}</p>
            <nb-icon (click)="delete(item)" icon='trash' status="danger" style="font-size: 12px;"></nb-icon>
        </nb-list-item>
    </nb-card-body>
</nb-card>
